{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "transform-decorators",
        "transform-async-to-generator",
        "transform-object-rest-spread"
    ]
}